.login-form{

  display: flex;
  flex-direction: column;
  row-gap: 1rem;

  background: #FFFFFF;

  padding: 1rem;


  box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.15);
  border-radius: 15px;

}
.button{


}
